#clock and reset
NET "clk"   LOC = "T9";
NET "reset" LOC = "L14";

#Net "Clk50Mhz"		LOC = "T9";
#NET "Clk50Mhz"		PERIOD = 20ns;   # 20ns = 50Mhz

# 4 slide switches
NET "a<0>" LOC = "F12"	;	# switch 0
NET "a<1>" LOC = "G12"	;	# switch 1
NET "b<0>" LOC = "H14"	;	# switch 2
NET "b<1>" LOC = "H13"	;	# switch 3

# led
NET "aeqb" LOC = "K12"	;	# led 0